.postContenar{
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 60px;
 align-items: center;
}
.formControllar{
  
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    margin-top:30px;
    border-radius: 5px;
    padding: 20px 0px;
    
}

.formControllar form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0px 50px;
} 


.formControllar form input{
    padding: 10px;
    margin:6px 0px;
    border: none;
    border-radius:2px;
}

.formControllar form button{
    padding: 10px;
}

.formControllar form textarea{
    padding: 5px 5px;
    border-radius:2px;
    
}

 